.main-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  align-items: flex-start; /* Ensure the filter and content sections are aligned at the top */
}

.category-section {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  flex-basis: 250px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
  position: sticky;
  top: 0; /* Makes the filter section stay in place when scrolling */
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Allow the filter section to scroll if it overflows */
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

input[type="text"] {
  padding:5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  overflow-y: auto; /* Makes the recipe list scrollable when there's a lot of content */
  max-height: calc(100vh - 150px); /* Ensure the recipe list takes the available space but does not push the filter */
}

.recipe-card {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 6px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  max-width: 100%;
}

.ingredient-list {
  list-style-type: none;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
}

.ingredient-item {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 100%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.search-bar {
  background-color: #f8f9fa;
  font-size: 18px;
  padding: 10px;
  /* width: 475px; */
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.main-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.category-section {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  flex-basis: 250px;
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.category-section h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.category-section hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin-bottom: 15px;
}


.check {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.check label {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.check input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.check label:hover {
  color: #365c86;
}

.button {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #517BA9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.add_ingredient{
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #517BA9;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
  border-radius: 5px;
}

.recipe-button{
  padding: 10px 20px;
  background-color: #517BA9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.button:hover{
  background-color: #365c86;
}

.add_ingredient:hover{
  background-color: #365c86;
}

.recipe-button:hover {
  background-color: #365c86;
}