.Navbar {
  background-color: #6F93BD;
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.logo{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 1px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color:black;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: #517BA9;
  border-radius: 5px;
}

.logo-image {
  width: 110px;
  height:fit-content;
}
